*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: lightsteelblue;
}
layout{
    position: relative;  
}  
header {
    background-color: rgba(255, 228, 196, 0.945);
    display: flex;
    justify-content: space-between;
    align-items: center;  
    z-index: 1; 
    position: sticky; top: 0;
    padding: .4em;
}
header logo{
    font-size: 2.4em;
    text-shadow:  2px 3px 4px black;
    color: white; padding: .1em .2em;
}
span{
    background: linear-gradient( green, yellowgreen, lightgreen);
    padding: .1em .2em;
    border-radius: .2em;
    box-shadow:  2px 3px 4px black;
    color: limegreen;
}
.navigation{ 
    list-style-type: none;
    display: flex;
    flex-flow: row;
    font-size: 1.1em;
    margin:  1em auto;
}
.navigation a{
    padding: .6rem; 
    margin: .4rem;
    text-decoration: none;
    text-transform: capitalize;
    background-color: gray;
}
social {
    margin: 1em;
}
social a{
    padding: .2em .6em;
    text-decoration: none;
    font-size: 1.3em;
    margin: 1em auto;
}
header a{
    box-shadow:  2px 3px 4px black;
    text-shadow: 2px 3px 2px black;
    border-radius: 5px;
    color: white;
}
#face{
    background-color: blue;   
}
#tweet{
    background-color: lightskyblue;
}
#google{
    background-color:lightcoral;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; 
}
#mountain {
    background-image: url("../images/eat.jpg");
    background-size: cover; background-position: center;
    background-repeat: no-repeat;
    height: 40em;
    width: 100%;
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
}
form{
    background-color: rgba(119, 136, 153, 0.445);
    padding: .7em; 
    border-radius: 2em;
}
#gsearch{
    width: 35vw;
    border-radius: 2em;
    box-shadow: inset 2px 3px 3px black;
    text-align: center;
    background-color: rgba(119, 136, 153, 0.795);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: .5em 0;
}
input[type="submit"]{
    padding: .8em;
    border-radius: 2em;
    box-shadow: 2px 3px 3px black;
    background: linear-gradient(grey, white);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    text-transform: capitalize;
}

#lorem{
    color: white;
    text-shadow: 2px 3px 2px black;
    letter-spacing: .44em; 
    border: 3px double lightgray;
    padding: 1em 4em; 
}
#sample{
    text-align: center;
    margin: .2em; padding: .3em;
    background-color: rgba(128, 128, 128, 0.418);
    color: white; 
    box-shadow: 2px 3px 3px black;
    text-shadow: 2px 3px 2px black;
    letter-spacing: .443em; 
    border-radius: .5em;
}
#heading{
    text-align: center; font-size: 2em;
    margin: .2em;
    text-transform: capitalize;
    padding: .3em;
    background-color:  rgba(128, 128, 128, 0.418);
    box-shadow: 2px 3px 3px black;
    text-shadow: 2px 3px 2px black;
    color: white;
    letter-spacing: .443em;
    border-radius: .5em;
}
#collection{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center; 
}   
#collection li {
    flex-basis: 22%;
    border-radius: .6em;
}
figure{
    background-color: oldlace;
    padding: 1em;
    margin: 1em;
    border-radius: .6em;
    display: flex;
    flex-direction: column; 
    box-shadow: 2px 3px 3px black;
}
#collection img {
    object-fit: cover;
    background-position: center;background-origin: content-box;
    box-shadow: 2px 3px 3px black;
    border-radius: .6em;
}
figure button{
    padding: 1em;
    border-radius: .6em;
    background: linear-gradient(grey, white);
    box-shadow: 2px 3px 3px black;
    font-weight: bolder;
    align-self: flex-start; 
}
footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
}
#link1, #link2{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}
#link1 a, #link2 a{
    text-decoration: none;
    color: whitesmoke;
    padding: 1em;
}
@media screen and (max-width:480px ){
    header {
       flex-direction: column;
    }
    #collection{
        flex-direction: column;
    }
    #gsearch{
        width: 12em;
    }
    #sample, #heading{
        letter-spacing: 0;
        padding: .2em 3.6em;
        font-size: 1.5em;
    }
    #lorem{
        letter-spacing: 0; 
        border: 3px double lightgray;
        padding: .5em 1em;
    }
}
